@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&family=Nunito+Sans:wght@400;600;700&family=PT+Serif:wght@400;700&family=Roboto:wght@400;700&display=swap');

main,
body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;

    .slick {
        &-slide {
            margin: 0 16px;
        }

        &-list {
            margin: 0 -16px;
        }

        &-next,
        &-prev {
            border: 2px solid rgba(255, 255, 255, 0.5);
            width: 42px;
            height: 42px;
            border-radius: 50%;

            &::before {
                font-family: "FontAwesome";
                z-index: 99;
                // color: rgba($color: #000000, $alpha: 0.8);
                color: white;
            }
        }

        &-next {
            right: 0;
            // left: 0;
            // left: -15%;
            z-index: 9;

            // transform: translate(-100%, 0%);
            &::before {
                content: "\f054";
            }
        }

        &-prev {
            // left: -20%;
            left: 0;
            z-index: 9;

            // transform: translate(-100%, 0%);
            &::before {
                content: "\f053";
            }
        }

        &-dots {
            li {
                button {
                    &::before {
                        // color: #fff;
                        font-size: 39px;
                        content: "";
                        width: 20px;
                        height: 3px;
                        // background-color: #fff;
                    }
                }
            }
        }
    }

    .btn {
        border-radius: 25px;
    }

    .btn-primary {
        font-weight: bold;
        font-size: 20px;
        background: #05375c;
        border-color: transparent;
    }

    .btn-secondary {
        color: #ffffff;
        background-color: #da9e25;
        border-color: transparent;

        &:hover {
            background: #ab7913;
            border-color: transparent;
        }
    }
}

.clear {
    clear: both;
}

.bottom-copy {
    color: white;
    position: absolute;
    left: 11%;
    bottom: 15vh;
}

.totop {
    position: relative;
    z-index: 88;
}

.btn-third {
    color: white;

    &:hover {
        color: #ececec;
    }
}

section {
    // min-height: 100vh;
    padding: 32px 0;
}

.bar {
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    background-color: white;
}

.banner {
    position: relative;
    padding: 0;

    .all {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 160px;
            background: linear-gradient(to top, #05375c, transparent);
            z-index: 1;
        }

        .image {
            width: 100vw;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .titlex {
            position: absolute;
            left: 32px;
            bottom: 32px;
            font-size: 3.5rem;
            z-index: 3;
            color: white;
            font-family: 'PT Serif';
            font-weight: 700;

            @media screen and (max-width:766px) {
                font-size: 2.5rem;
                bottom: 46px;
            }
        }
    }
}

.usp {
    position: relative;
    background: #e2f4ff;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     // height: 200px;
    //     z-index: 2;
    //     background: linear-gradient(to top, #e2f4ff, transparent);
    // }

    .help {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'PT Serif';
        // color: #4774b7;
        color: #1d5db9;

        @media screen and (max-width:766px) {
            font-size: 2.5rem;
        }
    }

    .block {
        @media screen and (max-width:766px) {
            margin-bottom: 16px;
        }
    }

    .subtitle {
        color: #4674b6;
        font-size: 1.5rem;
        font-weight: bold;
        width: fit-content;
        // border-bottom: 2px solid;// padding-bottom: 0px;
        // text-decoration: underline;
    }

    .dive {
        animation: MoveUpDown 2s linear infinite;
        position: relative;
        top: 0;
        z-index: 20;
    }

    @keyframes MoveUpDown {

        0%,
        100% {
            top: 0;
        }

        50% {
            top: 20px;
        }
    }

}

.w-70 {
    width: 70%;
}

.paket {
    position: relative;
    background: #e2f4ff;

    .title {
        font-family: 'PT Serif';
        font-size: 3.5rem;
        font-weight: bold;
        color: #1e251e;

        @media screen and (max-width:766px) {
            font-size: 2.5rem;
        }
    }

    .img {
        width: fit-content;
        margin: 8px auto 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hero-paket {
        width: 70%;
        margin: 0 auto 16px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        height: 460px;
        position: relative;

        @media screen and (max-width:766px) {
            width: 100%;
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            // top: 0;
            z-index: 1;
            height: 200px;
            background: linear-gradient(to top, #05375c, transparent);
        }

        .datas {
            position: absolute;
            left: 32px;
            bottom: 8px;
            z-index: 5;
            right: 32px;

            .icons {
                display: inline-block;
                margin: 4px 4px 8px;
                font-size: 14px;
                color: #fff;
                // font-weight: bold;

            }

            .judulc {
                color: white;
            }

            @media screen and (max-width:766px) {
                left: 8px;
                font-size: 1.3rem;
            }
        }

        .imge {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__tour {
        // width: 420px;
        background: white;
        margin: 24px 16px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        h3 {
            font-size: 1.5rem;
            // margin: 8px 0;
            padding: 0;
            text-align: center;
            font-weight: bold;
        }

        .datax {
            padding: 12px;
        }
    }

    .spesial {
        margin: 0 auto;
        text-align: center;


        .pricing {
            border-top: 1px dotted #ccc;
            padding: 8px 0;
        }

        .harga {
            font-size: 1.5rem;
            font-weight: bold;
            color: #1d5db9;
        }

        .float-right {
            padding-top: 16px;
        }

        .imgs {
            width: 100%;
            height: 320px;
            position: relative;
            overflow: hidden;

            &:hover {
                img {

                    transform: scale(1.3);
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: .3s;
                object-fit: contain;
            }
        }

        .icon {
            display: inline-block;
            margin: 4px 4px 8px;
            font-size: 14px;
            color: #333;
            font-weight: bold;

            @media screen and (max-width:766px) {
                font-weight: normal;
            }

            i {
                color: #01b9b7;
            }
        }

        .slick-prev {
            left: -52px !important;

            @media screen and (max-width:766px) {
                left: 0 !important;
            }
        }

        .slick-next {
            right: -52px !important;

            @media screen and (max-width:766px) {
                right: 0 !important;
            }
        }

        .slick-prev,
        .slick-next {
            border: 2px solid rgba(#003dfd, .5);

            @media screen and (max-width:766px) {
                top: 30%;
                background: rgba(#003dfd, .5);
                // color: white;
                // backdrop-filter: blur(3px);
                border: 2px solid transparent;
            }

            &::before {
                color: #003dfd;

                @media screen and (max-width:766px) {
                    color: white
                }
            }
        }
    }
}

.contact {
    background: #c2e4f9;

    h2 {
        font-family: 'PT Serif';
        font-size: 3.5rem;
        font-weight: bold;

        @media screen and (max-width:766px) {
            font-size: 2.5rem;
        }
    }

    .imgh {
        width: 240px;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .cont {
        margin-bottom: 16px;
    }

    i {
        font-size: 3rem;
        width: 30px;
        height: auto;
    }

    .d-inline-block {
        font-size: 1.2rem;
        vertical-align: super;
        width: 80%;

        @media screen and (max-width:766px) {
            width: 70%;
            vertical-align: middle;
        }
    }
}

.atas {
    position: relative;
    // background: url('../img/ikan.jpg');
    // background-size: cover;
    // background-attachment: fixed;
    background: #c2e4f9;
    // height: 360px;
    min-height: 100vh;
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #ffffff;
        background-color: #2b5a7c;
        border-color: #dee2e6 #dee2e6 #fff;
    }
    .imgs {
        width: 100%;
        height: 320px;

        @media screen and (max-width:766px) {
            height: 240px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .img {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .judul {
        // position: absolute;
        // top: 20vh;
        z-index: 9;
        font-family: 'PT Serif';
        // text-shadow: 2px 2px black;
        font-weight: bold;
        // left: 15%;
        text-align: center;
        margin-top: 24px;
        font-size: 3rem;
        color: #da9e25;

        @media screen and (max-width:766px) {
            top: 10vh;
            left: 5%;
        }
    }

    .paket__tour {
        // width: 420px;
        background: white;
        margin: 24px 16px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        h3 {
            font-size: 1.5rem;
            // margin: 8px 0;
            padding: 0;
            text-align: center;
            font-weight: bold;
        }

        .datax {
            padding: 12px;
        }
    }

    .spesial {
        margin: 0 auto;
        text-align: center;


        .pricing {
            border-top: 1px dotted #ccc;
            padding: 8px 0;
        }

        .harga {
            font-size: 1.5rem;
            font-weight: bold;
            color: #1d5db9;
        }

        .float-right {
            padding-top: 16px;
        }

        .imgs {
            width: 100%;
            height: 320px;
            position: relative;
            overflow: hidden;

            &:hover {
                img {

                    transform: scale(1.3);
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: .3s;
                object-fit: contain;
            }
        }

        .icon {
            display: inline-block;
            margin: 4px 4px 8px;
            font-size: 14px;
            color: #333;
            font-weight: bold;

            @media screen and (max-width:766px) {
                font-weight: normal;
            }

            i {
                color: #01b9b7;
            }
        }

        .slick-prev {
            left: -52px !important;

            @media screen and (max-width:766px) {
                left: 0 !important;
            }
        }

        .slick-next {
            right: -52px !important;

            @media screen and (max-width:766px) {
                right: 0 !important;
            }
        }

        .slick-prev,
        .slick-next {
            border: 2px solid rgba(#003dfd, .5);

            @media screen and (max-width:766px) {
                top: 30%;
                background: rgba(#003dfd, .5);
                // color: white;
                // backdrop-filter: blur(3px);
                border: 2px solid transparent;
            }

            &::before {
                color: #003dfd;

                @media screen and (max-width:766px) {
                    color: white
                }
            }
        }
    }

    #myTab {
        width: fit-content;
        margin: 16px auto;
    }

    .video {
        width: 100%;
        height: 420px;

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gal {
        width: 100%;
        height: 320px;
        margin-bottom: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
    padding: 32px 0 0;
    background: #05375c;
    position: relative;
    margin: 0;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background-size: cover;
        opacity: .1;
        background-image: url('../img/hiu.png');
        // img {
        //     width: 100%;
        //     height: 100%;

        // }
    }

    .bg-power {
        background: #01253f;
        padding: 8px 0;

        small {
            color: #ececec;

            a {
                color: #ececec;
            }
        }
    }

    .bg-help {
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;

        @media screen and (max-width:766px) {
            position: absolute;
            bottom: 0;
            right: 32px;
            width: 80px;
            height: 80px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .logo {
        width: 200px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    h3 {
        font-family: 'PT Serif';
        // color: #e2f4ff;
        color: #da9e25;
        font-weight: bold;
        font-size: 1.5rem;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            margin-bottom: 4px;
            .ml-2 {
                @media screen and (max-width:766px) {
                    font-size: 12px;
                    margin-left: .1rem !important;
                }
            }
            a {
                color: white;

                &:hover {
                    text-decoration: none;
                    color: #c2e4f9;
                }
            }

            i {
                width: 20px;
            }

        }
    }
}

.details {
    margin: 0 auto;

    .icon {
        margin: 0 8px;
        font-size: 1.1rem;
    }

    .image {
        width: 720px;
        margin: 0 auto;
        height: auto;

        @media screen and (max-width:766px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    h1 {
        font-family: 'Montserrat';
        font-size: 3rem;
        font-weight: bold;

        @media screen and (max-width:766px) {
            font-size: 2rem;
        }
    }

    .price {
        font-size: 2.5rem;
        color: #ab7913;
        font-weight: bold;
        font-family: 'PT Serif';
    }
}

.btn-whatsapp {
    border: none;
    outline: 0;
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #25d366;
    i {
        font-size: 26px;
        color: white;
    }
}

.sosmed {
    display: block;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            opacity: .8;
        }
    }
    .icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}